# ignore folders
*.bin
*.egg-info
*.obj
*.png
*.txt
*~
.DS_Store
__pycache__
*.so
*.pdf
*.npy
build
env/
mem/
data/out/
data/tmp/
illumNG/
__pycache__/
slurm*
nohup*
dotmp
loadPyGeoloc*
loadPyAltSim*
loadAcc*
loadPyXover*
loadfit2dem*
*~
.idea/